@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap");
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #ffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  transition: all .4s ease-out;
}

.header .header-logo {
  font-size: 25px;
  color: #464343;
  font-weight: bolder;
  text-decoration: none;
}

.header .header-navbar .header-navbar__ancor {
  font-size: 26px;
  color: #777;
  margin-left: 25px;
  text-decoration: none;
}

.header .header-navbar .header-navbar__ancor:hover {
  color: #e8786e;
}

.header #menu-btn {
  cursor: pointer;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 4px;
  color: #e8786e;
  background-color: #fceae9;
  display: none;
}

.header #menu-btn:hover {
  color: #ffff;
  background-color: #e8786e;
}

@media (max-width: 1061px) {
  .header {
    padding: 20px;
  }
  .header .header-navbar .header-navbar__ancor {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .header .header-navbar {
    position: absolute;
    top: 115%;
    right: 20px;
    background: #ffff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 240px;
    transform: scale(0);
    transform-origin: top right;
    opacity: 0;
  }
  .header .header-navbar .header-navbar__ancor {
    font-size: 20px;
    display: block;
    padding: 11px;
    margin: 11px;
  }
  .header .header-navbar .header-navbar__ancor:hover {
    background: #fceae9;
  }
  .header .active {
    transform: scale(1);
    opacity: 1;
  }
  .header #menu-btn {
    display: initial;
  }
}

@media (max-width: 450px) {
  .header .header-navbar .header-navbar__ancor {
    font-size: 18px;
  }
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 80px;
  position: relative;
  background: #fceae9;
}

.home .home-content {
  flex: 1 1 40rem;
}

.home .home-content h3 {
  font-size: 40px;
  color: #464343;
  line-height: 1.8;
}

.home .home-content p {
  font-size: 18px;
  color: #777;
  line-height: 1.8;
  padding: 10px 0;
}

.home .home-content .home-btn {
  margin-top: 16px;
  display: inline-block;
  padding: 10px 30px;
  font-size: 22px;
  cursor: pointer;
  color: #ffff;
  background: #e8786e;
  border-radius: 4px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.home .home-content .home-btn:hover {
  background: #ffff;
  color: #e8786e;
}

.home .home-image {
  flex: 1 1 40rem;
}

.home .home-image img {
  width: 100%;
}

.home .home-cloud {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 160px;
  background-size: 500px 200px;
  background: url(../images/cloud.png) repeat-x;
  animation: cloud 10s linear infinite;
}

.home .cloud-1 {
  opacity: .5;
  height: 130px;
  background-size: 900px 100px;
  animation-direction: reverse;
  animation-duration: 11s;
}

@keyframes cloud {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -600px;
  }
}

@media (max-width: 1026px) {
  .home .home-content {
    text-align: center;
  }
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.app {
  width: 86%;
  height: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition: all .4s ease-out;
}

section {
  padding: 22px 5%;
}

@media (max-width: 1061px) {
  section {
    padding: 20px;
  }
}
/*# sourceMappingURL=main.css.map */