@import "./_variables";
@import "./_mixins";

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 80px;
    position: relative;
    background: $bg;

    .home-content {
        flex: 1 1 40rem;

        h3 {
            font-size: 40px;
            color: $blackColor;
            line-height: 1.8;
        }

        p {
            font-size: 18px;
            color: $lightColor;
            line-height: 1.8;
            padding: 10px 0;
        }

        .home-btn {
            margin-top: 16px;
            display: inline-block;
            padding: 10px 30px;
            font-size: 22px;
            cursor: pointer;
            color: $whiteColor;
            background: $mainColor;
            border-radius: 4px;
            box-shadow: $boxShadow;
            position: relative;
            overflow: hidden;
            text-decoration: none;

            &:hover {
                background: $whiteColor;
                color: $mainColor;
            }
        }
    }

    .home-image {
        flex: 1 1 40rem;

        img {
            width: 100%;
        }
    }

    .home-cloud {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 160px;
        background-size: 500px 200px;
        background: url(../images/cloud.png) repeat-x;
        animation: cloud 10s linear infinite;

    }
    .cloud-1 {
        opacity: .5;
        height: 130px;
        background-size: 900px 100px;
        animation-direction: reverse;
        animation-duration: 11s;
    }
}

@keyframes cloud {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -600px;
    }
}

@media (max-width:1026px) {
    .home {

        .home-content {
            text-align: center;
        }
    }    
}