@mixin heading {
    text-align: center;
    padding-bottom: 38px;
    font-size: 38px;
    color: $blackColor;
}

@mixin headingSpan {
    color: $mainColor;
    border-radius: 5px;
    background: $bg;
    padding: 0 15px;
}